<button class="text-slate-400 text-sm mb-2" id="completed_count"><%= Task.where(status: 1).count %> Completed Tasks</button>
<button id="reveal" data-action="click->reveal#toggle" class="text-[#0279FF] font-semibold text-sm">Show</button>


