<%= form_with(model: task) do |form| %>

  <div class="flex">

    <div class="m-4">
      <button class="status w-4 h-4 rounded-full border border-slate-300"></button>
    </div>

    <div>
      <%= form.text_field :name, class: "mt-2 mb-2 text-sm border-none outline-0 placeholder-slate-700", placeholder: "Placeholder" %>
      <div class="flex pb-2 text-xs">
        <p class="">
          <%= form.date_field :date, class: "rounded-md outline-0 bg-[#F5F5F5] w-28 p-1 mr-2", placeholder: "Add Date" %>
        </p>
        <p class="">
          <%= form.time_field :time, class: "rounded-md outline-0 bg-[#F5F5F5] w-18 p-1", placeholder: "Add Time" %>
        </p>
      </div>
    </div>

  </div>

<% end %>
