<%= form_with(model: task) do |form| %>

  <div class="flex">

    <div class="m-4">
      <button class="status w-4 h-4 rounded-full border border-slate-300"></button>
    </div>

    <div>
      <%= form.text_field :name, class: "p-0 pl-1 mt-2 text-sm border-none focus:ring-0", type: "text", autocomplete: "off", placeholder: "New Task" %>
      <div class="flex pb-2 text-xs">
        <p>
          <%= form.date_field :date, class: "h-6 w-28 mr-2 p-1 m-0 border-none focus:ring-0 text-xs rounded-md bg-[#F5F5F5]", placeholder: "Add Date" %>
        </p>
        <p>
          <%= form.time_field :time, class: "h-6 w-18 p-1 m-0 border-none focus:ring-0 text-xs rounded-md bg-[#F5F5F5]", placeholder: "Add Time" %>
        </p>
      </div>
    </div>

  </div>

<% end %>

