<div class="flex mt-4 w-full h-1/4" data-controller="toggle-tabs">
      <div data-action="click->toggle-tabs#today" class="select-none bg-white w-1/2 h-16 rounded-lg mr-1 font-medium grid h-screen place-items-center">Today</div>
      <div data-action="click->toggle-tabs#all" class="select-none bg-white w-1/2 h-16 rounded-lg ml-1 font-medium grid h-screen place-items-center">All</div>
</div>
