<div class="flex">

  <div class="p-4 w-1/4 bg-black h-screen w-screen">
    <%= render "search" %>
  </div>

  <div class="py-4 px-4 h-screen w-screen overflow-auto py-2">

    <h2 class="text-2xl">
      <%= "#{helperGreeting}" %>
    </h2>

    <%= render "tasks", tasks: @tasks %>
  </div>

</div>
