<div class="flex">

  <div class="p-4 w-1/4 h-screen bg-slate-100">
    <%= render "search" %>

    <div class="flex mt-4 w-full h-1/4" data-controller="toggle-tabs">
          <div data-action="click->toggle-tabs#today" class="bg-white w-1/2 h-16 rounded-lg mr-1"></div>
          <div data-action="click->toggle-tabs#all" class="bg-white w-1/2 h-16 rounded-lg ml-1"></div>
    </div>

  </div>

  <div class="py-4 px-4 h-screen w-screen overflow-auto py-2 bg-grey-100">
    <%= render "tasks", tasks: @tasks %>
  </div>

</div>
