<div class="flex">

  <div class="p-4 w-1/4 h-screen bg-slate-100">
    <%= render "search" %>

    <%= render "tabs" %>
  </div>

  <div class="py-4 px-4 h-screen w-screen overflow-auto py-2 bg-grey-100">
    <%= render "tasks", tasks: @tasks %>
  </div>

</div>
